html {
    height: 100%;
}

.content {
    color: white;
    padding: 80px;
    position: relative;
    text-align: center;
}

.h2main {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
